<div class="cat1">
    <img src="https://d2skenm2jauoc1.cloudfront.net/assets/gloriafood/img/restaurant_ordering_app_for_food_clients/restaurant-ordering-app-card1-7a99ac327f.png.webp"
    >
    </div>
    
    <div class="title">
        <h2>FAQ</h2>
        </div>
        
        <div class="mim3">
        <p >
            Sure, here are some frequently asked questions (FAQs) about GloriaFood:
    
        </p>
        <p>
            What is GloriaFood?</p>
            <p>
GloriaFood is a cloud-based restaurant management system that provides an online ordering platform for restaurants. The platform allows customers to order food online, directly from a restaurant's website or Facebook page.
    
        </p>
        <p>
            Is GloriaFood free?</p>
            <p>
Yes, GloriaFood offers a free online ordering system for restaurants. However, there are some optional paid features available for restaurants who want additional functionality.


    
        </p>
        <p>
            What features does GloriaFood offer?</p>
            <p>
GloriaFood offers a range of features that help restaurants to streamline their operations, such as menu management, order management, payment processing, delivery management, table reservation management, customer data analytics, and marketing tools.  
        </p>
        <p>
            How does GloriaFood work?</p>
            <p>
GloriaFood works by providing restaurants with an online ordering platform that integrates with their existing website or Facebook page. Customers can browse menus, select items, customize their orders, and pay online. Orders are then processed by the restaurant through the GloriaFood dashboard.
        </p>

        <p>
            What types of restaurants use GloriaFood?</p>
            <p>
GloriaFood is used by a wide range of restaurants, from small cafes and food trucks to large chains and franchises. The platform is designed to be flexible and customizable, making it suitable for restaurants of all sizes and types.
        </p>
        </div>

