<div class="cat">
    <img src="https://www.oracle.com/a/ocom/img/cb125-gloriafood-web-mobile-facebook-min.png"
    >
    </div>
    
    <div class="title">
        <h2>About Us</h2>
        </div>
        
        <div class="mim2">
        <p >
            GloriaFood is a cloud-based restaurant management system that provides an online ordering platform for restaurants. The platform allows customers to order food online, directly from a restaurant's website or Facebook page. GloriaFood offers a free online ordering system for restaurants that includes features such as menu management, order management, payment processing, and delivery management.
    
        </p>
        <p>
            With GloriaFood, restaurants can easily set up an online ordering system without the need for technical knowledge or expensive equipment. The platform is designed to be user-friendly and intuitive, with a drag-and-drop menu builder and real-time order management tools.
    
        </p>
        <p>
            In addition to its online ordering system, GloriaFood also offers a range of features that help restaurants to streamline their operations, such as table reservation management, customer data analytics, and marketing tools.
    
        </p>
        <p>
            GloriaFood has been widely adopted by restaurants around the world, with over 40,000 restaurants using the platform in more than 160 countries. It has received positive reviews for its ease of use, affordability, and comprehensive features, making it a popular choice for restaurants of all sizes.  
        </p>
        </div>
