<div id="outPopUp" class="">
    <div class="">
  
        <!--to show error alert-->
        <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
          <!--to show success alert-->
          <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
  <br><br>
          <div align="center">
            <img  src="https://ww1.prweb.com/prfiles/2014/05/23/11876677/logo_gloriafood_PNG.png" style="height: 100px;">
            <br><br>
        <form  [formGroup]="productForm" >
         
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="food_name" placeholder="Product Name">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="food_price" placeholder="Product price">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="food_img" placeholder="Product quantity">
          </div>
         
  
          <div  align="center" class="col-lg-15 mt-2" *ngIf="!getparamid" (click)="productUpdate()">
            <button >Confirm Update🧑</button>
        </div>
  
        </form>
  
      </div>
    </div>
  

